<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UltTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>656F48381E8373E6001D0DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>656F48511E8373E6001D0DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>656F485C1E8373E6001D0DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
